# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fd1e6d31138706bdf6eaa9b4f509bb342a85bb4b19c31e465741d25752316544c4d3edffc0dde23952fc46f3b7d2b9ef99109b48f00e97976c029eeb78e73dd9

test:
  secret_key_base: 33cfb97b982ad04e3a99a50465fd6e1cafbe7d518f21e294d5d5774aa864646e11216569fc83ffcc8c2585b91a11b72090c8b9ca20c7a1999eb81670a40593cb

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
